.content {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.tf2-logo {
  display: block;
  width: 49%;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.csgo-logo {
  display: block;
  width: 49%;
  float: right;
  margin-left: auto;
  margin-right: auto;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

img {
  width: 100%;
}
