h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-align: center;
  color: #FFFEFD;
}

html {
  background-color: #646464;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.content {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
