/* Clearfix Hack by Nicolas Gallagher - Start  */
.clearfix {}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/* Clearfix Hack by Nicolas Gallagher - End  */

/* Tipsy CSS - Start */
.tipsy {
    position: absolute;
    padding: 5px;
    z-index: 100000;
}

.tipsy-inner {
	max-width: 200px;
	padding: 3px 5px;
	font-family: 'Asap', sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
    color: #565656;
    background: #262626;
	box-shadow: 0px 0px 15px 0 #101010;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed #262626;
}
  
.tipsy-arrow-n {
    border-bottom-color: #262626;
}

.tipsy-arrow-s {
    border-top-color: #262626;
}

.tipsy-arrow-e {
    border-left-color: #262626;
}

.tipsy-arrow-w {
    border-right-color: #262626;
}
  
.tipsy-n .tipsy-arrow {
    top: 0px; left: 50%;
    margin-left: -5px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow {
    top: 0;
    left: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow {
    top: 0;
    right: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow {
    bottom: 0;
    left: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-se .tipsy-arrow {
    bottom: 0;
    right: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-e .tipsy-arrow {
    right: 0;
    top: 50%;
    margin-top: -5px;
    border-left-style: solid;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow {
    left: 0;
    top: 50%;
    margin-top: -5px;
    border-right-style: solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
/* Tipsy CSS - End */

/* FontAwesome Margin Fix - Start */
.icon {
	margin: 0px 0px 0px -5px;	
}

.icon2 {
	margin: 0px 0px 0px 10px;	
}
/* FontAwesome Margin Fix - End */

/* Chrome & Mozilla Fixes - Start */
input:-webkit-autofill {
	-webkit-text-fill-color: #565656;
    -webkit-box-shadow: 0 0 0px 1000px #161616 inset;
}

input::-moz-focus-inner { 
	border: 0px; 
	padding: 0px;
	margin: 0px;
}
/* Chrome & Mozilla Fixes - End */

/* Ignite - CSS Start */
#preheader {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 45px;
	min-height: 45px;
	max-height: 45px;
	background: #161616;
	border-bottom: 1px solid #202020;
	box-shadow: inset 0px 0px 1px #000000;
}

.menu {
	width: 440px;
	min-width: 440px;
	max-width: 440px;
	float: left;
	padding: 0;
	margin: 0;
	text-align: left;
}

.menu ul {
	padding: 0;
	margin: 14px 0 0 0;
}

.menu ul li {
	list-style: none;
	display: inline;
}

.menu ul li a:link, .menu ul li a:visited {
	padding: 15px;
	margin: 0 -1px;
	font-weight: 700;
	color: #565656;
	text-decoration: none;
	transition: all 0.5s ease;
}

.menu ul li a:hover, .menu ul li a:active {
	color: #ffc000;
	border-bottom: 1px solid #ffc000;
	transition: all 0.5s ease;
}

.user {
	width: 584px;
	min-width: 584px;
	max-width: 584px;
	float: right;
	padding: 0;
	margin: 14px 0 0 0;
	text-align: right;
	font-weight: 700;
	color: #565656;
}

.login_b a:link, .login_b a:visited {
	font-weight: 700;
	color: #565656;
	text-decoration: none;
	background: #161616;
	border: 1px solid #262626;
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0px 0px 1px #000000;
	padding: 5px 10px;
	transition: all 0.5s ease;
}

.login_b a:hover, .login_b a:active {
	color: #ffc000;
	background: #202020;
	border: 1px solid #303030;
	box-shadow: 0px 0px 1px #050505;
	transition: all 0.5s ease;
}

.register_b a:link, .register_b a:visited {
	font-weight: 700;
	color: #565656;
	text-decoration: none;
	background: #161616;
	border: 1px solid #262626;
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0px 0px 1px #000000;
	padding: 5px 10px;
	margin: 0px 0px 0px 5px;
	transition: all 0.5s ease;
}

.register_b a:hover, .register_b a:active {
	color: #ff0036;
	background: #202020;
	border: 1px solid #303030;
	box-shadow: 0px 0px 1px #050505;
	transition: all 0.5s ease;
}

.login_title {
	font-size: 16px;
	font-weight: 700;
	color: #565656;
	padding: 10px 0;
	margin: 0;
	text-align: center;
	background: #161616;
	border-bottom: 1px solid #202020;
	box-shadow: inset 0px 0px 1px #000000;
}

.login_mleft {
	width: 380px;
	min-width: 380px;
	max-width: 380px;
	float: left;
	padding: 10px;
	margin: 0;
	box-sizing: border-box;
}

.login_mleft p {
	color: #565656;
	text-align: justify;
}

.login_mright {
	width: 220px;
	min-width: 220px;
	max-width: 220px;
	float: right;
	padding: 10px;
	margin: 0;
	box-sizing: border-box;
}

.login_icon {
	padding: 8px 6px 8px 11px;
	margin: 0 -1px 0 0;
	float: left;
	color: #565656;
	background: #161616;
	border: 1px solid #202020;
}

.login_textbox {
	width: 120px;
	min-width: 120px;
	max-width: 120px;
	line-height: 15px;
	outline: none;
	font-family: 'Asap', sans-serif;
	padding: 7px;
	margin: 0;
	float: left;
	color: #565656;
	background: #161616;
	border: 1px solid #202020;
}

.login_separator {
	margin: 0px 0px 7px 0px;
	display: block;
}

.login_bsector {
	margin: 20px 0px 0px 0px;
	display: block;
}

.login_button {
	font-family: 'Asap', sans-serif;
	font-weight: 700;
	color: #565656;
	text-decoration: none;
	background: #161616;
	border: 1px solid #262626;
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0px 0px 1px #000000;
	padding: 5px 10px;
	transition: all 0.5s ease;
}

.login_button:hover {
	cursor: pointer;
	color: #ffc000;
	background: #202020;
	border: 1px solid #303030;
	box-shadow: 0px 0px 1px #050505;
	transition: all 0.5s ease;
}

.login_rp a:link, .login_rp a:visited {
	font-weight: 700;
	color: #565656;
	text-decoration: none;
	background: #161616;
	border: 1px solid #262626;
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0px 0px 1px #000000;
	padding: 5px 10px;
	margin: 0px 0px 0px 5px;
	transition: all 0.5s ease;
}

.login_rp a:hover, .login_rp a:active {
	color: #00ff6c;
	background: #202020;
	border: 1px solid #303030;
	box-shadow: 0px 0px 1px #050505;
	transition: all 0.5s ease;
}

#header {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 120px;
	min-height: 120px;
	max-height: 120px;
	background: #101010;
	border-bottom: 1px solid #202020;
	box-shadow: inset 0px 0px 1px #000000;
	box-sizing: border-box;
}

.logo {
	float: left;
	padding: 0;
	margin: 18px 0 0 0;
}

.logo a:link, .logo a:visited {
	font-size: 56px;
	font-weight: 700;
	font-style: italic;
	color: #ffc000;
	text-decoration: none;
	transition: all 0.5s ease;
}

.logo a:hover, .logo a:active {
	color: #ffe28a;
	margin-left: 10px;
	transition: all 0.5s ease;
}

.search {
	float: right;
	padding: 0;
	margin: 0;
}

.grey {
	color: #565656;	
}

.user_avatar {
  	border-radius: 3px;
	-moz-border-radius: 3px;
  	margin-right: 5px;
	background: url(../../../images/ignite/default_avatar.png) no-repeat;
	background-size: 100% auto;
	border: none;
  	padding: 0;
}

.panelavatar img {
	margin: 0;
	padding: 0;
	border: none;
}

.panelavatar img[src=""] {
	display: none;
	margin: 0;
	padding: 0;
	border: none;
}

.user_unique a:link, .user_unique a:visited {
	color: #ffc000;
	text-decoration: none;
	transition: all 0.5s ease;
}

.user_unique a:hover, .user_unique a:active {
	color: #ffe28a;
	transition: all 0.5s ease;
}

#userbar {
	padding: 0;
	margin: 2px 0px 0px 0px;
	display: none;
	float: right;
}

.userbar2 {
	display: inline-flex;	
}

.userbar2 a:link, .userbar2 a:visited {
	color: #565656;
	text-decoration: none;
	transition: all 0.5s ease;
}

.userbar2 a:hover, .userbar2 a:active {
	color: #ffc000;
	transition: all 0.5s ease;
}

#toggle {
	float: right;
	margin: 2px 0px 0px 15px;
	color: #565656;
	transition: all 0.5s ease;	
}

#toggle:hover {
	cursor: pointer;
	color: #ffc000;
	transition: all 0.5s ease;	
}

.quicksearch {
    float: right;
  	margin: 42px 0px 0px 0px;
    padding: 0;
    border: 1px solid #202020;
    background: #161616;
    height: 32px;
    border-radius: 2px;
	-moz-border-radius: 2px;
}

.searchbox {
	font-family: 'Asap', sans-serif;
    font-size: 13px;
    height: 30px;
    padding: 0 10px;
    margin: 0;
	outline: none;
    color: #565656;
    background: #161616;
	border: none;
}

.searchbutton {
    cursor: pointer;
    font-family: FontAwesome;
    background: none;
    font-size: 14px;
    color: #565656;
    padding: 7px 8px;
	margin: 2px 0px 0px 0px;
	float: right;
	border: none;
	transition: all 0.5s ease;
}

.searchbutton:hover {
    cursor: pointer;
    color: #ffc000;
	transition: all 0.5s ease;
}

.pm_icon {
	color: #464646;
	margin: 2px 0px 0px 0px;
	transition: all 0.5s ease;
}

.pm_icon:hover {
	cursor: pointer;
	color: #ffc000;
	transition: all 0.5s ease;
}

.catname {
	float: left;
	transition: all 0.5s ease;
}

.catdesc {
	font-size: 13px;
	font-weight: 400;
	font-style: italic;
	color: #565656;
	text-transform: none;
	float: left;
	position: relative;
	line-height: 25px;
	margin: 0 0 -1px 5px;
	opacity: 0;
	transition: all 0.5s ease;
}

.catname:hover + .catdesc {
  	opacity: 1;
	margin-left: 15px;
	transition: all 0.5s ease;
}

.separator {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 1px;
	min-height: 1px;
	max-height: 1px;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #202020;
	box-shadow: inset 0px 0px 1px #000000;
}

#prefooter {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 150px;
	min-height: 150px;
	max-height: 150px;
	background: #101010;
	border-bottom: 1px solid #202020;
	box-shadow: inset 0px 0px 1px #000000;
	box-sizing: border-box;	
}

.aboutus {
	float: left;
	width: 300px;
	min-width: 300px;
	max-width: 300px;
}

.aboutus h2 {
	font-size: 16px;
	margin: 12px 0px;
	padding: 0px;
	color: #ffc000;
}

.aboutus p {
	color: #464646;
	text-align: justify;
}

.social {
	float: right;
	text-align: left;
	width: 100px;
	min-width: 100px;
	max-width: 100px;
}

.social h2 {
	font-size: 16px;
	margin: 12px 0px;
	padding: 0px;
	color: #ffc000;	
}

.social ul {
	margin: 0px;
	padding: 0px;
}

.social ul li {
	display: block;
	list-style: none;
}

.social ul li a:link, .social ul li a:visited {
	color: #464646;
	text-decoration: none;
	transition: all 0.5s ease;
}

.social ul li a:hover, .social ul li a:active {
	color: #ffc000;
	margin: 0px 0px 0px 5px;
	transition: all 0.5s ease;
}

#footer {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 45px;
	min-height: 45px;
	max-height: 45px;
	background: #161616;
}

.copyright {
	float: left;
	text-align: left;
	margin: 14px 0px 0px 0px;
	padding: 0;
}

.copyright a:link, .copyright a:visited {
	font-weight: 700;
	color: #ffc000;
	text-decoration: none;
	transition: all 0.5s ease;
}

.copyright a:hover, .copyright a:active {
	color: #ffe28a;
	transition: all 0.5s ease;
}

.xstyle_rights {
	float: right;
	text-align: right;
	margin: 14px 0px 0px 0px;
	padding: 0;
}

.xspecial {
	color: #ff2230;
}

.bold {
	font-weight: 700;
	color: #969696;
}

.inlinemod {
	padding: 0px;
	margin: 0px;
	position: relative;
	left: 1px;
	top: 1px;
}

.pagination2 a:link, .pagination2 a:visited {
	font-size: 11px;
	color: #969696;
	text-decoration: none;
	background: #101010;
	border: 1px solid #202020;
	box-shadow: 0px 0px 1px #000000;
	padding: 1px 4px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	transition: all 0.5s ease;
}

.pagination2 a:hover, .pagination2 a:active {
	color: #ffc000;
	background: #000000;
	transition: all 0.5s ease;
}

.checkbox {
	border-radius: 2px;
	-moz-border-radius: 2px;
	background: #efefef;
	color: #000000;
	padding: 0px;
	margin: 0px;
}

.search_forum {
	display: inline-block;
	position: relative;
}

.toggle_search {
	cursor: pointer;
	position: relative;
	display: inline;
	color: #464646;
}

.dropdown_search {
	width: 168px;
	min-width: 168px;
	max-width: 168px;
	position: absolute;
	display: none;
	right: 0;
	left: auto;
	background: #161616;
	color: #464646;
	top: 26px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #202020;
	padding: 5px;
	margin: 0px;
	z-index: 99;
	box-shadow: 0px 0px 5px #000000;
}

.pointeffect {
	color: #464646;
	text-decoration: none;
	transition: all 0.5s ease;
}

.pointeffect:hover, .pointeffect:active {
	cursor: pointer;
	color: #ffc000;
	transition: all 0.5s ease;
}

.bigbutton a:link, .bigbutton a:visited {
	font-family: 'Asap', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #565656;
	text-decoration: none;
	background: #101010;
	border: 1px solid #202020;
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0px 0px 1px #000000;
	padding: 10px 15px;
	transition: all 0.5s ease;
}

.bigbutton a:hover, .bigbutton a:active {
	cursor: pointer;
	color: #ffc000;
	background: #050505;
	border: 1px solid #202020;
	box-shadow: 0px 0px 1px #000000;
	transition: all 0.5s ease;
}

.thread_quicksearch {
	display: inline-block;
	position: relative;
	float: right;
	margin: 0px 0px 0px 5px;
}

.thread_togglesearch {
	cursor: pointer;
	position: relative;
	display: inline;
	color: #565656;
	transition: all 0.5s ease;
}

.thread_togglesearch:hover {
	color: #ffc000 !important;
	transition: all 0.5s ease;
}

.thread_search {
	width: 265px;
	min-width: 265px;
	max-width: 265px;
	position: absolute;
	display: none;
	right: 0;
	left: auto;
	background: #161616;
	color: #464646;
	top: 26px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #202020;
	padding: 5px;
	margin: 0px;
	z-index: 99;
	box-shadow: 0px 0px 5px #000000;
}

.postbit_wrapper {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	margin: 10px 0px;
	padding: 0px;
	display: flex;
	background: #161616;
	border: 1px solid #202020;
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0px 0px 1px #000000;
	box-sizing: border-box;
}

.postbit_left {
	width: 23%;
	min-width: 23%;
	max-width: 23%;
	float: left;
	position: relative;
	margin: 0px;
	padding: 10px;
	background: #101010;
	border-right: 1px solid #202020;
	box-sizing: border-box;
}

.postbit_right {
	width: 77%;
	min-width: 77%;
	max-width: 77%;
	float: left;
	margin: 0px;
	padding: 10px;
	box-sizing: border-box;
}

.postbit_left:before {
	position: absolute;
	content: "";
	left: 99%;
	top: 9px;
	z-index: 2;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent #101010;
}

.postbit_left:after {
	position: absolute;
	content: "";
	left: 100%;
	top: 9px;
	z-index: 1;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent #202020;
}

.post_author {
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.status_online a:link, .status_online a:visited {
	position: absolute;
	top: 4px;
	left: 3px;
	color: #ffc000;
	transition: all 0.5s ease;
}

.status_online a:hover, .status_online a:active {
	position: absolute;
	top: 4px;
	left: 3px;
	color: #ffe28a;
	transition: all 0.5s ease;
}

.status_offline {
	position: absolute;
	top: 4px;
	left: 3px;
	color: #464646;
}

.status_away a:link, .status_away a:visited {
	position: absolute;
	top: 4px;
	left: 3px;
	color: #ff0036;
	transition: all 0.5s ease;
}

.status_away a:hover, .status_away a:active {
	position: absolute;
	top: 4px;
	left: 3px;
	color: #ff4a70;
	transition: all 0.5s ease;
}

.postbit_avatar a:link, .postbit_avatar a:visited {
	opacity: 0.75;
	display: inline-block;
	padding: 5px;
	margin: 10px auto;
	background: #161616;
	border: 1px solid #202020;
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0px 0px 1px #000000;
	transition: all 0.5s ease;
}

.postbit_avatar a:hover, .postbit_avatar a:active {
	opacity: 1;
	transition: all 0.5s ease;
}

.author_separator {
	width: 60%;
	min-width: 60%;
	max-width: 60%;
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	font-size: 13px;
}

.author_buttons {
	margin: 10px auto;
	padding: 0px;
}

.post_date {
	margin-left: 10px;
	padding: 0px;
}

.post_edit {
	padding: 0px;
	margin: 10px 0;
	float: right;
	font-size: 13px;
	color: #464646;
}

.postbit_buttons {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	text-align: right;
	margin: 10px 0px;
	padding: 10px 0px;
	border-top: 1px dashed #202020;
	box-sizing: border-box;
}

.pb_button a:link, .pb_button a:visited {
	font-family: 'Asap', sans-serif;
	font-size: 13px;
	color: #464646;
	padding: 3px 5px;
	margin: 0px 3px;
	background: #101010;
	border: 1px solid #202020;
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0px 0px 1px #000000;
	transition: all 0.5s ease;
}

.pb_button a:hover, .pb_button a:active {
	cursor: pointer;
	color: #969696;
	background: #050505;
	border: 1px solid #202020;
	transition: all 0.5s ease;
}

.minibutton a:link, .minibutton a:visited {
	font-family: 'Asap', sans-serif;
	font-size: 13px;
	color: #464646;
	padding: 3px;
	margin: 0px 2px;
	background: #161616;
	border: 1px solid #202020;
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0px 0px 1px #000000;
	transition: all 0.5s ease;
}

.minibutton a:hover, .minibutton a:active {
	cursor: pointer;
	color: #969696;
	background: #202020;
	border: 1px solid #303030;
	transition: all 0.5s ease;
}
/* Ignite - CSS End */
		